
	body {
		cursor: url("../SilkIcons/cursor.png"), auto;
	}
	
	:any-link {
		cursor: url("../SilkIcons/application_go.png"), pointer;
	}
	
	:read-write, :focus-visible {
		cursor: url("../SilkIcons/text_italic.png"), text;
		
	}
	
